---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import SecondaryProject from './SecondaryProject.astro'

import type { Project } from '@/env'

const props = Astro.props as Project
const { name, description, url, src, isSecondary } = props
---

{
	isSecondary ? (
		<SecondaryProject {...props} />
	) : (
		<article class='flex flex-col w-full gap-20 lg:flex-row lg:min-h-[90dvh] lg:max-h-dvh'>
			<aside class='flex flex-col justify-center gap-10 lg:w-[38%]'>
				<a
					target='_blank'
					rel='noreferrer'
					href={url}
					class='text-4xl font-black lg:w-max hover:text-blue-600 hover:underline'>
					{name}
				</a>

				<p set:html={description} class='text-lg text-gray-600 dark:text-gray-400 text-balance' />

				<a
					rel='noreferrer'
					target='_blank'
					href={url}
					class='flex items-center justify-between w-full gap-2 px-8 py-2 text-lg font-bold transition-all duration-200 bg-blue-600 rounded-full text-customWhite hover:bg-blue-800 xs:items-end xs:w-max'>
					Ver {name}
					<Icon class='w-6 h-6 group-hover:text-blue-600' name='arrow-right' />
				</a>
			</aside>

			<section
				class={`grid grid-cols-1 gap-6 sm:grid-cols-2 sm:grid-rows-2 lg:w-2/3 ${src.length <= 3 ? 'grid-rows-3' : 'grid-rows-4'}`}>
				{src?.map((path) => (
					<a
						aria-label={name}
						target='_blank'
						class={`group ${src.length <= 3 ? 'lg:first-of-type:row-span-2' : ' '}`}
						rel='noreferrer'
						href={url}>
						<Image
							class='object-cover object-left-top w-full h-full border border-gray-400 dark:border-gray-700 rounded-2xl'
							src={path}
							alt={name}
							width={800}
							height={600}
							quality='high'
							decoding='async'
							loading='lazy'
						/>
						<span class='sr-only'>{name}</span>
					</a>
				))}
			</section>
		</article>
	)
}
