---
import { Icon } from 'astro-icon/components'
import Project from './Project.astro'
import { PERSONAL_PROJECTS, CLIENT_PROJECTS } from '@/data/projects'

const languages = [
	{
		name: 'html-5',
		url: 'https://developer.mozilla.org/es/docs/Web/HTML'
	},
	{
		name: 'css-3',
		url: 'https://developer.mozilla.org/es/docs/Web/CSS'
	},
	{
		name: 'javascript',
		url: 'https://developer.mozilla.org/es/docs/Web/JavaScript'
	},
	{
		name: 'tailwindcss',
		url: 'https://tailwindcss.com/docs/installation'
	},
	{
		name: 'react',
		url: 'https://es.react.dev/learn'
	},
	{
		name: 'next',
		url: 'https://nextjs.org/docs'
	},
	{
		name: 'python',
		url: 'https://www.python.org/'
	}
]
---

<div id='proyectos'></div>
<section id='projects' class='flex flex-col gap-16'>
	<header class='flex flex-col gap-8 md:mt-14'>
		<div>
			<h2 class='text-5xl font-extrabold sm:text-7xl'>Proyectos</h2>
		</div>

		<section class='flex flex-wrap gap-4 items-center pb-2'>
			{
				languages.map((lang) => (
					<a
						aria-label={lang.name}
						aria-labelledby={lang.name}
						href={lang.url}
						target='_blank'
						title={lang.name}>
						<Icon class='w-4 h-4 sm:w-7 sm:h-7' name={lang.name} />
					</a>
				))
			}
		</section>
	</header>

	<article>
		<div role='tablist' class='grid grid-cols-2 w-full tabs tabs-bordered'>
			<input
				type='radio'
				name='projects'
				role='tab'
				class='w-full text-xl font-bold tab'
				aria-label='Personales'
			/>

			<div role='tabpanel' class='p-10 mt-5 w-full tab-content'>
				<section class='flex flex-wrap gap-32'>
					{PERSONAL_PROJECTS.map((project) => <Project {...project} />)}
				</section>
			</div>

			<input
				type='radio'
				checked='checked'
				name='projects'
				role='tab'
				class='w-full text-xl font-bold tab'
				aria-label='Para Clientes'
			/>

			<div role='tabpanel' class='p-10 mt-5 w-full tab-content'>
				<section class='flex flex-wrap gap-32'>
					{CLIENT_PROJECTS.map((project) => <Project {...project} />)}
				</section>
			</div>
		</div>
	</article>
</section>

<script>
	window.ScrollReveal().reveal('#projects', { delay: 200, easing: 'ease-in-out' })
</script>
