---
import Icon from "astro-icon";
import type { Project } from "../../env";
import { Image } from "astro:assets";

const { name, description, url, src, isVideo } = Astro.props as Project;
---

<article class="flex flex-col lg:flex-col-reverse gap-12 lg:w-1/3">
	<aside class="flex flex-col lg:justify-between gap-8 lg:gap-4 lg:h-1/2">
		<h3 class="text-4xl font-black">{name}</h3>

		<p
			set:html={description}
			class="text-lg text-gray-600 dark:text-gray-400"
		/>

		<a
			rel="noreferrer"
			target="_blank"
			href={url}
			class="px-8 py-2 text-lg font-bold rounded-full text-customWhite bg-blue-600 transition-all duration-200 hover:bg-blue-800 flex gap-2 w-full items-center xs:items-end xs:w-max justify-between"
		>
			Ver {name}
			<Icon class="w-6 h-6 group-hover:text-blue-600" name="arrow-right" />
		</a>
	</aside>

	<section class="flex lg:h-1/2 2xl:h-auto">
		{
			src?.map((path) => (
				<a
					aria-label={name}
					target="_blank"
					class="flex justify-center lg:w-full lg:max-h-[80vh] lg:h-full mx-auto hover:scale-105 transition-transform duration-300"
					rel="noreferrer"
					href={url}
				>
					{isVideo ? (
						<video
							controls
							preload="none"
							poster="/images/cejbot/cejbot-poster.webp"
							class="h-screen/40 object-cover rounded-xl border border-gray-300"
						>
							<source src={path} type="video/mp4" />
						</video>
					) : (
						<Image
							class="w-full max-h-[60vh] lg:max-h-[40vh] object-contain lg:object-cover object-top lg:first:object-left-top rounded-xl border border-gray-300"
							src={path}
							alt={name}
							width={500}
							height={500}
						/>
					)}
				</a>
			))
		}
	</section>
</article>
