---
import Icon from "astro-icon";
import type { Project } from "../../env";

const { name, description, url, src, isVideo } = Astro.props as Project;
---

<article class="project flex flex-col md:flex-col-reverse gap-12 md:w-1/3">
	<aside class="flex flex-col md:justify-between gap-8 md:gap-4 md:h-1/2">
		<h3 class="text-4xl font-black">{name}</h3>

		<p
			set:html={description}
			id="description"
			class="text-gray-500 dark:text-gray-400"
		>
		</p>

		<a
			target="_blank"
			rel="noreferrer"
			href={url}
			class="font-bold text-lg hover:text-blue-600 transition-all duration-200 flex items-center gap-2 w-max"
		>
			{url.replace("https://", "").substring(0, 30)}
			<Icon class="w-6 h-6 group-hover:text-blue-600" name="arrow-right" />
		</a>
	</aside>

	<section class="flex md:h-1/2">
		{
			src?.map((path) => (
				<a
					aria-label={name}
					target="_blank"
					class="flex justify-center md:w-full md:max-h-[80vh] md:h-full mx-auto"
					rel="noreferrer"
					href={url}
				>
					{isVideo ? (
						<video
							controls
							autoplay
							loop
							muted
							class="h-screen/40 object-cover rounded-xl border border-gray-300"
						>
							<source src={path} type="video/mp4" />
						</video>
					) : (
						<img
							class="w-full max-h-[60vh] md:max-h-[40vh] object-contain md:object-cover object-top md:first:object-left-top rounded-xl border border-gray-300"
							src={path}
							alt={name}
						/>
					)}
				</a>
			))
		}
	</section>
</article>
