---
import { Icon } from 'astro-icon/components'

const { title, description, copyContent } = Astro.props
---

<style>
	@keyframes copiedAnimation {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	.copied-animation {
		animation: copiedAnimation 1.5s ease-in-out;
	}
</style>

<article
	class='flex flex-col justify-between gap-3 p-4 rounded shadow bg-gradient-to-b from-neutral-300 dark:from-neutral-800'>
	<header class='flex flex-col'>
		<h3 class='text-sm text-neutral-600 dark:text-neutral-400'>{title}</h3>
		<p class='text-xs text-neutral-600 dark:text-neutral-400'>
			{description}
		</p>
	</header>

	<astro-content
		class='flex flex-col justify-between gap-5 grow'
		id='content'
		data-content={copyContent}>
		<textarea
			readonly
			class='px-2 py-4 overflow-hidden bg-transparent border rounded resize-none border-muted boder-muted grow min-h-20 sm:min-h-28'
			id='content'>{copyContent.trim()}</textarea
		>

		<div class='grid grid-cols-1 gap-2 md:grid-cols-2'>
			<a
				title='Compartir en WhatsApp'
				aria-label='Compartir en WhatsApp'
				aria-labelledby='Compartir en WhatsApp'
				class='flex justify-center items-center text-sm gap-3 border border-muted px-3 py-1.5 rounded transition-all duration-300 hover:bg-green-700 hover:text-customWhite hover:border-green-700'
				href={`https://wa.me/?text=${copyContent}`}
				target='_blank'
				rel='noopener noreferrer'>
				<Icon name='mdi:whatsapp' class='w-5 h-5' />
				WhatsApp
			</a>

			<button
				type='button'
				title='Copiar texto'
				aria-label='Copiar texto'
				aria-labelledby='Copiar texto'
				data-confetti-button
				class='flex justify-center items-center text-sm gap-3 border border-muted hover:bg-customBlack dark:hover:bg-customWhite dark:hover:text-customBlack hover:text-customWhite transition-all duration-300 px-3 py-1.5 rounded'
				id='copyTrick'>
				<Icon name='mdi:content-copy' class='w-5 h-5' />
				<span id='copyTrickText'>Copiar</span>
			</button>
		</div>
	</astro-content>
</article>

<script>
	//@ts-nocheck

	class AstroContent extends HTMLElement {
		constructor() {
			super()

			// Read the message from the data attribute.
			const copyContent = this.dataset.content

			// Get the button and the content element.
			const $btnCopyContent = this.querySelector('#copyTrick')
			const $btnCopyText = this.querySelector('#copyTrickText')
			const $elmContent = this.querySelector('#content')

			if (!copyContent || !$btnCopyContent || !$elmContent || !$btnCopyText) return

			$btnCopyContent.addEventListener('click', () => {
				if (navigator.clipboard === undefined) {
					alert('¡Tu navegador no permite copiar al portapapeles!')
					return
				}

				navigator.clipboard.writeText(copyContent).then(() => {
					$elmContent.value = '¡Copiado! 🎉'
					$elmContent.classList.add('copied-animation')

					$btnCopyContent.disabled = true
					$btnCopyText.textContent = '¡Copiado!'

					setTimeout(() => {
						$elmContent.value = copyContent
						$elmContent.classList.remove('copied-animation')

						$btnCopyContent.disabled = false
						$btnCopyText.textContent = 'Copiar'
					}, 1500)
				})
			})
		}
	}

	customElements.define('astro-content', AstroContent)
</script>
