---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import HeroSection from '../components/HeroSection.astro'
import About from '../components/About.astro'
import Footer from '../components/Footer.astro'
import Projects from '../components/Projects.astro'

const title = 'Alessandro Rios - Desarrollador Front-End'

const description =
	'Alessandro es un estudiante de computación e informática, especializado en software y con certificaciones en desarrollo web.'

const actualYear = new Date().getFullYear()
---

<Layout title={title} description={description}>
	<div class="min-h-screen flex flex-col md:gap-32 my-6 px-5 sm:px-14 xl:max-w-7xl xl:mx-auto">
		<Header />

		<main class="grow flex flex-col gap-48 mt-36">
			<HeroSection />
			<About />
			<Projects />
		</main>

		<Footer title={title} description={description} actualYear={actualYear} />
	</div>
</Layout>

