---
import profileImage from '@/assets/images/profile.webp'
import { Image } from 'astro:assets'

import Layout from '@/layouts/Layout.astro'

import ThemeToggle from '@/components/buttons/ThemeToggle.astro'
import { LINKEDIN_URL, MAIN_DESCRIPTION, MAIN_TITLE, WHATSAPP_URL } from '@/utils/consts'
import { Icon } from 'astro-icon/components'

const enlaces = [
	{
		href: WHATSAPP_URL,
		label: 'WhatsApp'
	},
	{
		href: LINKEDIN_URL,
		label: 'LinkedIn'
	},
	{
		href: 'https://mytarjeta.vercel.app/ale',
		label: 'MyTarjeta'
	}
]
---

<Layout title={MAIN_TITLE} description={MAIN_DESCRIPTION} withHeader={false}>
	<div
		class='relative flex flex-col justify-center gap-10 p-10 mx-auto xs:gap-5 min-h-dvh xs:max-w-screen-xs sm:max-w-xl'>
		<div class='absolute top-0 left-0 right-0 flex items-center justify-between m-5'>
			<a
				title='Ir a la página principal'
				aria-label='Ir a la página principal'
				aria-labelledby='Ir a la página principal'
				href='/'>
				<Icon name='mdi:arrow-left' class='w-6 h-6' />
				<span class='sr-only'>Ir a la página principal</span>
			</a>
			<ThemeToggle />
		</div>

		<header class='flex flex-col gap-5'>
			<a
				class='w-max'
				title='Ir al inicio del portafolio de Alessandro Rios'
				aria-label='Ir al inicio del portafolio de Alessandro Rios'
				aria-labelledby='Ir al inicio del portafolio de Alessandro Rios'
				href='/'>
				<Image
					class='object-cover object-top w-10 h-10 rounded-full shadow'
					src={profileImage}
					alt='Imagen de perfil de Alessandro Rios'
					quality='max'
					loading='eager'
				/>
			</a>

			<h1 class='font-bold'>Soy Alessandro Rios, desarrollador front-end</h1>
		</header>

		<main>
			<section class='flex flex-col gap-5 text-gray-600 dark:text-gray-400 text-pretty max-w-prose'>
				<p>
					Apasionado del aprendizaje, la tecnología y el desarrollo de software. Mejorando
					habilidades a través de proyectos constantes.
				</p>

				<p>
					Especializado en aplicaciones web. Experiencia con HTML, CSS, JavaScript, React, Next.js,
					Python y Java.
				</p>
			</section>
		</main>

		<footer>
			<ul class='grid grid-cols-1 sm:grid-cols-3 gap-y-5'>
				{
					enlaces.map((enlace) => (
						<li>
							<a
								class='text-center text-blue-700 transition-all duration-300 border-b-2 border-transparent dark:text-blue-500 hover:border-blue-600'
								href={enlace.href}
								target='_blank'
								rel='noopener noreferrer'>
								{enlace.label}
							</a>
						</li>
					))
				}
			</ul>
		</footer>
	</div>
</Layout>
