---
import { GITHUB_URL, LINKEDIN_URL, WHATSAPP_URL, INSTAGRAM_URL } from '@/utils/consts'
import { Icon } from 'astro-icon/components'

const heroTitle = 'Soy Alessandro Rios desarrollador front- end especializado en React.'
const heroTitleSM = 'Soy Alessandro Rios desarrollador front-end especializado en React.'

const heroWords = heroTitle.split(' ')
const heroLetters = heroWords.map((word) => word.split(''))

const socialIcons = [
	{
		href: INSTAGRAM_URL,
		label: 'Instagram',
		icon: 'instagram',
		color: 'text-gray-600 hover:text-indigo-600',
		size: 'w-6 h-6'
	},
	{
		href: WHATSAPP_URL,
		label: 'WhatsApp',
		icon: 'whatsapp',
		color: 'text-gray-600 hover:text-green-600',
		size: 'w-6 h-6'
	},
	{
		href: LINKEDIN_URL,
		label: 'LinkedIn',
		icon: 'linkedin',
		color: 'text-gray-600 hover:text-blue-600',
		size: 'w-8 h-8'
	},
	{
		href: GITHUB_URL,
		label: 'Github',
		icon: 'github',
		color: 'text-gray-600 dark:hover:text-zinc-200 hover:text-black',
		size: 'w-8 h-8'
	},
	{
		href: 'https://mytarjeta.vercel.app/ale',
		label: 'MyTarjeta',
		icon: 'mitarjeta',
		color: 'text-gray-500 hover:text-blue-500',
		size: 'w-8 h-8'
	}
]
---

<style>
	html.sr .load-hidden {
		visibility: hidden;
	}

	.specialLetter {
		@apply hover:text-transparent bg-gradient-to-br bg-clip-text [-webkit-background-clip:text] from-blue-500 to-blue-800 transition-all duration-150;
	}
</style>

<section id='hero' class='flex flex-col justify-center max-w-4xl gap-10 2xl:max-w-5xl load-hidden'>
	<h1
		class='flex flex-wrap gap-x-[18px] text-4xl xs:text-5xl sm:text-6xl md:text-7xl lg:text-7.5xl 2xl:text-8xl font-bold font-inter !leading-min hover:cursor-default'>
		{
			heroLetters.map((word) => (
				<span class='hidden lg:flex'>
					{word.map((letter) => (
						<span class='specialLetter'>{letter}</span>
					))}
				</span>
			))
		}

		<span class='lg:hidden' style='text-wrap: balance;'>{heroTitleSM}</span>
	</h1>

	<article class='flex items-center gap-8'>
		{
			socialIcons.map((item) => (
				<a
					rel='noreferrer'
					target='_blank'
					href={item.href}
					aria-label={item.label}
					aria-labelledby={item.label}>
					<Icon
						class={` ${item.color} hover:rotate-[360deg] transition-all duration-500 ${item.size}`}
						name={item.icon}
					/>
					<span class='sr-only'>{item.label}</span>
				</a>
			))
		}
	</article>
</section>

<script>
	window.ScrollReveal().reveal('#hero', {
		delay: 200,
		easing: 'ease-in-out',
		opacity: 0,
		distance: '5px'
	})
</script>
