---
import { Icon } from 'astro-icon'

interface Props {
	name: string
	description: string
	url: string
	imagePaths: string[]
}

const { name, description, url, imagePaths } = Astro.props as Props
---

<article class="flex flex-col md:flex-row gap-20 w-full md:max-h-screen">
	<aside class="md:w-1/3 flex flex-col justify-center gap-10">
		<h3 class="text-4xl font-black">{name}</h3>

		<p set:html={description} id="description" class="text-lg text-gray-500 dark:text-gray-400"></p>

		<a
			target="_blank"
			rel="noreferrer"
			href={url}
			class="font-bold text-xl hover:text-blue-600 transition-all duration-200 flex items-center gap-2">
			{url.replace('https://', '')}
			<Icon class="w-6 h-6 group-hover:text-blue-600" name="arrow-right" />
		</a>
	</aside>

	<section class="md:w-2/3 flex flex-wrap md:grid md:grid-cols-2 md:grid-rows-2 items-center gap-6">
		{
			imagePaths?.map((path) => (
				<a
					target="_blank"
					class="md:max-h-[80vh] w-full md:h-full md:first:row-span-2"
					rel="noreferrer"
					href={url}>
					<img
						class="w-full h-full object-contain md:object-cover object-top md:first:object-left-top rounded-xl border border-gray-300"
						src={path}
						alt=""
					/>
				</a>
			))
		}
	</section>
</article>
