---
interface Study {
	institute: string;
	country: string;
	degree: string;
	date: string;
	description: string;
	image: string;
	url: string;
}

const { institute, country, degree, date, description, image, url } =
	Astro.props as Study;
---

<article class="flex flex-col md:max-w-xs lg:max-w-md gap-5">
	<header class="flex flex-col gap-4">
		<a
			target="_blank"
			rel="noreferrer"
			href={url}
			class="font-bold text-lg w-max hover:text-blue-600 transition-all duration-200 flex gap-6 items-center"
		>
			<h3 class="text-4xl font-black">{institute}</h3>

			<img
				class="w-9 h-9 rounded-full object-cover"
				src={image}
				alt={institute}
			/>
		</a>

		<p><span>{degree}</span> - {country}</p>
	</header>

	<section>
		<p
			set:html={description}
			id="description"
			class="text-gray-600 dark:text-gray-400"
		>
		</p>
	</section>

	<footer>
		<p class="text-sm">
			{date}
		</p>
	</footer>
</article>
