---
import '../css/lato-v1.0.css'
import Header from '../components/Header.astro'

export interface Props {
	title: string
	description: string
	withHeader?: boolean
}

const { title, description, withHeader = true } = Astro.props
---

<!doctype html>
<html class='overflow-x-hidden scroll-smooth motion-reduce:scroll-auto sr' lang='es'>
	<head>
		<meta charset='UTF-8' />

		<script defer>
			const theme = (() => {
				function getCookie(name) {
					const value = `; ${document.cookie}`
					const parts = value.split(`; ${name}=`)
					if (parts.length === 2) return parts.pop().split(';').shift()
				}

				const cookieValue = getCookie('themeARPortfolio')

				if (cookieValue) return cookieValue

				if (window.matchMedia('(prefers-color-scheme: dark)').matches) return 'dark'

				return 'light'
			})()

			if (theme === 'light') {
				document.documentElement.classList.remove('dark')
				document.documentElement.style.setProperty('color-scheme', 'light')
			} else {
				document.documentElement.classList.add('dark')
				document.documentElement.style.setProperty('color-scheme', 'dark')
			}

			document.cookie = `themeARPortfolio=${theme}; path=/; max-age=31536000`
		</script>

		<!-- Chat en vivo de Crisp Chat -->
		<!-- <script type='text/javascript'>
			window.$crisp = []
			window.CRISP_WEBSITE_ID = 'dc46eddd-abe3-4b0f-852a-f54f47ee4f2c'
			;(function () {
				// eslint-disable-next-line no-undef
				d = document
				// eslint-disable-next-line no-undef
				s = d.createElement('script')
				// eslint-disable-next-line no-undef
				s.src = 'https://client.crisp.chat/l.js'
				// eslint-disable-next-line no-undef
				s.async = 1
				// eslint-disable-next-line no-undef
				d.getElementsByTagName('head')[0].appendChild(s)
			})()
		</script> -->

		<!-- Chat en vivo de Tawk.to -->
		<script type='text/javascript'>
			var Tawk_API = Tawk_API || {},
				// eslint-disable-next-line no-unused-vars
				Tawk_LoadStart = new Date()
			;(function () {
				var s1 = document.createElement('script'),
					s0 = document.getElementsByTagName('script')[0]
				s1.async = true
				s1.src = 'https://embed.tawk.to/677c11c8af5bfec1dbe76bb3/1iguaaue0'
				s1.charset = 'UTF-8'
				s1.setAttribute('crossorigin', '*')
				s0.parentNode.insertBefore(s1, s0)
			})()
		</script>

		<script src='https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.js'></script>

		<meta name='viewport' content='width=device-width, initial-scale=1' />

		<link rel='icon' type='image/webp' href='/favicon.webp' />
		<link rel='shortcut icon' href='/favicon.webp' />
		<link rel='apple-touch-icon' href='/favicon.webp' />

		<link rel='canonical' href={Astro.request.url} />
		<meta name='generator' content={Astro.generator} />

		<title>{title}</title>
		<meta name='description' content={description} />
		<meta
			name='keywords'
			content='Alessandro, Alessandro Rios, Alessandro Ríos, front, frontend, en desarrollo, Desarrollador Front end, desarrollador, en proyectos, estudiante, certificaciones en desarrollo, especializado en software, programador web, Desarrollador Web, web, desarrollo web, software, computación, programador, estudios frontend, extensiones vscode'
		/>
	</head>

	<body
		class='transition-all duration-200 text-customBlack bg-customWhite dark:text-customWhite dark:bg-customBlack'>
		{withHeader && <Header />}

		<slot />

		<style>
			html.sr .load-hidden {
				visibility: hidden;
			}
			body {
				font-family:
					'Lato',
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					'Segoe UI',
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					'Open Sans',
					'Helvetica Neue',
					sans-serif;
				overflow-x: hidden;
			}
			p {
				text-wrap: pretty;
			}
		</style>
	</body>
</html>
